AZURE_DEVOPS_ORG=nome-da-organizacao
AZURE_DEVOPS_PROJECT=nome-do-projeto
AZURE_DEVOPS_PAT=seu_pat
AZURE_DEVOPS_USER_EMAIL=seu.email@empresa.com
DAYS_BACK=60
PORT=3000
CACHE_TTL_SECONDS=300
# AZURE_DEVOPS_REPOSITORIES=repo1,repo2,repo3
